.listGroup {
  padding: 0;
}

.listItemHeading {
  font-size: 1.4rem;
  color: black;
  margin: 0;
}

.listItemText {
  margin: 0;
}

.listItemText span {
  font-size: 0.8rem;
  color: black;
}

.connectionButton {
  float: right;
  min-width: 120px;
}

.connected {
  color: green!important;
}

.disconnected {
  color: grey!important;
}
