span {
  color: rgba(0,0,0,0);
  margin-left: 3px;
  margin-right: 3px;
}

.navbar-toggler-icon {
  background-color: #637a9e!important;
}

.menubutton {
  background-color: #637a9e!important;
}

.menubutton span {
  color: white!important;
}

.dropdown {
  color: white!important;
  padding-top: 0!important;
}

.dropdownHome {
  color: black!important;
  width: '100%';
}
.dropdownHome a {
  color: black!important;
  width: '100%';
}
