span {
  color: rgba(0,0,0,0);
  margin-left: 3px;
  margin-right: 3px;
}

.dropdown {
  color: white!important;
  padding-top: 0!important;
}

.dropdownHome {
  color: black!important;
}
.dropdownHome a {
  color: black!important;
}
